@import url('https://fonts.googleapis.com/css?family=Montserrat&subset=latin-ext');

body { 
  background-color: #E7E7EF;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #000;
}
* {
  box-sizing: border-box;
}
h1, h2, h3 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 4px;
}
a {
  text-decoration: none;
  color: #000;
}

/*HERO*/
.hero {
  height: 100vh;
  width: 100%;
  -webkit-animation: fade-in-hero 2s cubic-bezier(0.88, -0.23, 0.29, 1) 0.3s both;
  -moz-animation: fade-in-hero 2s cubic-bezier(0.88, -0.23, 0.29, 1) 0.3s both;
  -o-animation: fade-in-hero 2s cubic-bezier(0.88, -0.23, 0.29, 1) 0.3s both;
  animation: fade-in-hero 2s cubic-bezier(0.88, -0.23, 0.29, 1) 0.3s both;
}
@-webkit-keyframes fade-in-hero {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in-hero {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in-hero {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in-hero {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero-content {
  width: 70%;
  height: 100vh;
  text-align: center;
  position: relative;
  color: rgba(0, 0, 0, 0.8);
}
.hero-text-top {
  position: absolute;
  bottom: 40%;
  left: 0;
  right: 0;
  -webkit-animation: pop-in-header 2s ease-out forwards;
  -moz-animation: pop-in-header 2s ease-out forwards;
  -o-animation: pop-in-header 2s ease-out forwards;
  animation: pop-in-header 2s ease-out forwards;
}
@-webkit-keyframes pop-in-header {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}
@-moz-keyframes pop-in-header {
  0% {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -moz-transform: none;
  }
}
@-o-keyframes pop-in-header {
  0% {
    opacity: 0;
    -o-transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -o-transform: none;
  }
}
@keyframes pop-in-header {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 700px;
  height: auto;
}
.hero h1, h3 {
  color: #000;
}
.hero h1 {
  font-size: 44px;
}
.hero h3 {
  font-size: 24px;
}
.hero h2 {
  display: none;
}
.skills-icons {
  font-size: 44px;
}
.hero-text-bottom {
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
}
.arrow-down {
  position: absolute;
  bottom: 8%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #112524;
  border-bottom: 1px solid #112524;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: arrow-down 1.5s infinite 5s;
  -moz-animation: arrow-down 1.5s infinite 5s;
  -o-animation: arrow-down 1.5s infinite 5s;
  animation: arrow-down 1.5s infinite 5s;
}
@-webkit-keyframes arrow-down {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
    opacity: 0;
  }
}
@-moz-keyframes arrow-down {
  0% {
    -moz-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: rotate(-45deg) translate(-15px, 15px);
    opacity: 0;
  }
}
@-o-keyframes arrow-down {
  0% {
    -o-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -o-transform: rotate(-45deg) translate(-15px, 15px);
    opacity: 0;
  }
}
@keyframes arrow-down {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-15px, 15px);
    opacity: 0;
  }
}

/*MAIN CONTAINER*/
.container {
  width: 80%;
  height: auto;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

/*PROJECTS*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::before,
.row::after {
  content:"";
  display: table ;
  clear: both;
}
.projects-content [class*='col-'] {
  float: left;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.8;  
}
.col-left {
  height: 660px;
}
.col-right [class*='col-']{
  height: 220px;
  border-left: 5px solid #fff;
}
.grid-img {
  border: 5px solid #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -o-transition:      all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  transition:         all 0.2s ease;
}
.col-middle {
  border-bottom: 5px solid #fff;
  border-top: 5px solid #fff;
}
.img-psd {background-image: url("../img/psd-new.jpg");}
.img-bts {background-image: url("../img/bootstrap.png");}
.img-rwd {background-image: url("../img/simple-website.jpg");}
.img-game {background-image: url("../img/game.png");}
.img-kanban {background-image: url("../img/kanban-board.png");}
.img-country {background-image: url("../img/country-search.jpg"); background-position: left top!important;}
.img-email {background-image: url("../img/email-small.jpg");}

.projects h3 {
  letter-spacing: 1px;
}
.projects:hover .grid-img {
  opacity: 1;
}
.grid-layer {
  background-color: rgba(203, 203, 213, 0.8);
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform .4s ease;
  -moz-transition: transform .4s ease;
  -o-transition: transform .4s ease;
  transition: transform .4s ease;
}
.grid-img:hover {
  -webkit-transform: scale(0.95); 
  -moz-transform: scale(0.95); 
  -o-transform: scale(0.95); 
  transform: scale(0.95); 
}
.grid-img:hover .grid-layer {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1); 
  transform: scale(1);
}
.grid-layer i {
  margin-top: 25px;
}
.layer-big i {
  margin-top: 50%;
}
.grid-layer p {
  text-transform: uppercase;
}

/*FOOTER*/
.footer {
  position: fixed;
  z-index: 9;
  bottom: 0;
  display: none;
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  letter-spacing: 1px;
}
.show {
  display: block;
}
.footer-content {
  width: 80%;
  margin: 0 auto;
}
.footer [class*='col-'] {
  float: left;
  height: auto;
  text-align: center;
}
.footer p {
  display: inline;
  font-size: 14px;
  color: #fff;
}
.footer i{
  padding: 10px;
  color: #fff;
}
.social-media i {
  font-size: 20px;
}

/*ARROW UP*/
.arrow-up {
  display: none; 
  position: fixed; 
  bottom: 45px; 
  right: 30px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 10; 
  width: 20px;
  height: 20px;
}
.arrow-up:before {
  content: '';
  width: 100%;
  height: 100%;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: .2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  display: block;
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.arrow-up:after {
  content: '';
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8);
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -o-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}
.arrow-up:hover:after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  height: 120%;
}
.arrow-up:hover:before {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}    

/*MEDIA Q. */
@media (max-width: 767px) {
  .hero {
    line-height: 1;
  }
  .hero-img {
    width: 360px;
    top: 0;
    right: -15%;
  }
  .hero-content {
    width: 90%;
    margin: 0 auto;
  }
  .hero-text-top {
    bottom: 40%;
  }
  .hero h1 {
    font-size: 20px;
  }
  .hero i {
    font-size: 24px;
  }
  .hero h3 {
    font-size: 16px;
  }
  h1, h2, h3 {
    letter-spacing: 1px;
  }
  .hero-text-bottom {
    bottom: 20%;
  }
  .arrow-down {
    bottom: 15%;
    width: 18px;
    height: 18px;
    margin-left: -9px;
  }
  .container {
    width: 90%;
  }
  #projects {
    margin-top: 0;
    font-size: 0.8em;
  }
  .projects-content [class*='col-'] {
    opacity: 1;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-right [class*='col-']{
    height: 200px;
  } 
  .col-left {
    height: 200px;
  }
  .layer-big i {
    margin-top: 25px;
  }
  .footer {
    display: block;
    position: relative;
    bottom: 0px;
  }
  .footer-content {
    width: 90%;
  }
  .arrow-up {
    bottom: 120px; 
    right: 7px;
  }
} 
@media (min-width: 768px) and (max-width: 991px) {
  .hero-content {
    width: 100%;
  }
  .hero-text-top {
    bottom: 30%; 
  } 
  .hero h1 {
    font-size: 34px;
  } 
/*  .hero-img {
    top: 0;
    right: 0;
  }*/
  .container {
    width: 85%;
  }
  .projects-content [class*='col-'] {
    opacity: 1;
  }
  .col-m-12 {
    width: 100%;
  }
  .col-left {
    height: 220px;
  } 
  .layer-big i {
    margin-top: 25px;
  }
  .footer-content {
    width: 100%; 
  }
  .footer-content p {
    font-size: 12px;
  }
  .footer-content i {
    font-size: 14px;
  }
}  
@media (min-width: 1680px) {
  .hero h1 {
    font-size: 54px;
  }
  .hero i {
    font-size: 54px;
  }
  .hero h3 {
    font-size: 34px;
  }
  .container {
    width: 70%;
  }
 } 
