@import url('https://fonts.googleapis.com/css?family=Montserrat');
body { 
  background-color: #E7E7EF;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #000;
}
* {
  box-sizing: border-box;
}
h1, h2, h3 {
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 4px;
}
a {
  text-decoration: none;
  color: #000;
}
/*HERO*/
.hero {
  background-image: url(../img/hero-new.jpg);  
  background-position: center; 
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  -webkit-animation: fade-in-hero 2s cubic-bezier(0.88, -0.23, 0.29, 1) 0.3s both;
  -moz-animation: fade-in-hero 2s cubic-bezier(0.88, -0.23, 0.29, 1) 0.3s both;
  -o-animation: fade-in-hero 2s cubic-bezier(0.88, -0.23, 0.29, 1) 0.3s both;
  animation: fade-in-hero 2s cubic-bezier(0.88, -0.23, 0.29, 1) 0.3s both;
}
@-webkit-keyframes fade-in-hero {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes fade-in-hero {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes fade-in-hero {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade-in-hero {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.hero-content {
  width: 70%;
  height: 100vh;
  text-align: center;
  position: relative;
  color: rgba(0, 0, 0, 0.8);
}
.hero-text-top {
  padding-top: 20%;
  -webkit-animation: pop-in-header 2s ease-out forwards;
  -moz-animation: pop-in-header 2s ease-out forwards;
  -o-animation: pop-in-header 2s ease-out forwards;
  animation: pop-in-header 2s ease-out forwards;
}
@-webkit-keyframes pop-in-header {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-moz-keyframes pop-in-header {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-o-keyframes pop-in-header {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes pop-in-header {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
.hero h1, h3 {
  color: #000;
}
.hero h1 {
  font-size: 44px;
}
.hero h3 {
  font-size: 24px;
}
.hero h2 {
  display: none;
}
.skills-icons {
  font-size: 44px;
}
.hero-text-bottom {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: auto;
}
.arrow-down {
  color: #112524;
  position: absolute;
  bottom: 40px;
  -webkit-animation: fade-in-arrow 2s infinite;
  -moz-animation: fade-in-arrow 2s infinite;
  -o-animation: fade-in-arrow 2s infinite;
  animation: fade-in-arrow 2s infinite;
}
@-webkit-keyframes fade-in-arrow {
  0% {
      transform: scale(0.8);
  }
  50% {
    transform: scale(1.0);
  }
  100% {
      transform: scale(0.8);
  }
}
@-moz-keyframes fade-in-arrow {
  0% {
      transform: scale(0.8);
  }
  50% {
    transform: scale(1.0);
  }
  100% {
      transform: scale(0.8);
  }
}
@-o-keyframes fade-in-arrow {
  0% {
      transform: scale(0.8);
  }
  50% {
    transform: scale(1.0);
  }
  100% {
      transform: scale(0.8);
  }
}
@keyframes fade-in-arrow {
  0% {
      transform: scale(0.8);
  }
  50% {
    transform: scale(1.0);
  }
  100% {
      transform: scale(0.8);
  }
}

/*MAIN CONTAINER*/
.container {
  width: 80%;
  height: auto;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

/*PROJECTS*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::before,
.row::after {
  content:"";
  display: table ;
  clear: both;
}
.projects-content [class*='col-'] {
  float: left;
  background-position: top;
  background-size: cover;
  opacity: 0.8;  
}
.col-left {
  height: 660px;
}
.col-right [class*='col-']{
  height: 220px;
  border-left: 5px solid #fff;
}
.grid-img {
  border: 5px solid #fff;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -o-transition:      all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  transition:         all 0.2s ease;
}
.col-middle {
  border-bottom: 5px solid #fff;
  border-top: 5px solid #fff;
}
.img-psd {background-image: url("../img/psd.jpg");}
.img-bts {background-image: url("../img/bootstrap.png");}
.img-rwd {background-image: url("../img/simple-website.jpg");}
.img-game {background-image: url("../img/game.png");}
.img-kanban {background-image: url("../img/kanban-board.png");}
.img-country {background-image: url("../img/country.jpg"); background-position: left top!important;}
.img-email {background-image: url("../img/email-small.jpg");}

.projects h3 {
  letter-spacing: 1px;
}
.projects:hover .grid-img {
  opacity: 1;
}
.grid-layer {
  display: none;
  background-color: rgba(203, 203, 213, 0.8);
  height: 210px;
  padding: 5px;
}
.layer-big {
  height: 650px;
}
.grid-img:hover {
  transform: scale(1.025); 
}
.grid-img:hover .grid-layer {
  display: block;
  text-align: center; 
}
.grid-layer i {
  margin-top: 25px;
}
.layer-big i {
  margin-top: 50%;
}
.grid-layer p {
  text-transform: uppercase;
}

/*FOOTER*/
.footer {
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  letter-spacing: 1px;
}
.footer-content {
  width: 70%;
  margin: 0 auto;
}
.footer [class*='col-'] {
  float: left;
  height: auto;
  text-align: center;
}
.footer p {
  display: inline;
  font-size: 16px;
  color: #fff;
}
.footer i{
  padding: 10px;
  color: #fff;
}
.social-media i {
  font-size: 20px;
}

/*GO TOP ICON*/
.arrow-up {
  display: none; 
  position: fixed; 
  bottom: 45px; 
  right: 30px;
  z-index: 99; 
  color: rgba(0, 0, 0, 0.6);
}

/*MEDIA Q. */
@media (max-width: 767px) {
  .hero {
    background-image: url(../img/hero-mobile.jpg);
    background-attachment: scroll!important;
    line-height: 1;
  }
  .hero-content {
    width: 90%;
    margin: 0 auto;
  }
  .hero-text-top {
    padding-top: 120%;
  }
  .hero h1 {
    font-size: 20px;
  }
  .hero i {
    font-size: 24px;
  }
  .hero h3 {
    font-size: 12px;
  }
  h1, h2, h3 {
    letter-spacing: 1px;
  }
  .hero-text-bottom {
    bottom: 80px;
  }
  .arrow-down {
    bottom: 60px;
  }
  .container {
    width: 90%;
  }
  .projects {
    font-size: 0.8em;
  }
  .projects-content [class*='col-'] {
    opacity: 1;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-right [class*='col-']{
    height: 200px;
  } 
  .col-left {
    height: 200px;
  }
  .grid-layer {
    height: 190px;
  }
  .layer-big {
    height: 210px;
  }
  .layer-big i {
    margin-top: 25px;
  }
  .footer-content {
    width: 90%;
  }
  .arrow-up {
    bottom: 120px; 
    right: 5px;
  }
}   
@media (min-width: 1680px) {
  .hero h1 {
    font-size: 54px;
  }
  .hero i {
    font-size: 54px;
  }
  .hero h3 {
    font-size: 34px;
  }
  .container {
    width: 70%;
  }
 } 
